Authlib
Flask-Assets
Flask-Login
Flask-Mail
Flask-Migrate
Flask-SQLAlchemy
Flask-SSLify
Flask-SeaSurf
Flask-Session
Flask
Jinja2
PyYAML
SQLAlchemy
#alembic==1.9.0
bcrypt
bravado-core
certifi
cffi
configobj
cryptography
cssmin
dnspython
flask_session_captcha
gunicorn
itsdangerous
jsonschema[format]>=2.5.1,<4.0.0 # until https://github.com/Yelp/bravado-core/pull/385
lima
lxml
mysqlclient
passlib
#pyOpenSSL==22.1.0
pyasn1
pyotp
pytest
python-ldap
python3-saml
pytimeparse
pytz
qrcode
requests
rjsmin
webcolors
werkzeug
zipp
rcssmin
zxcvbn
psycopg2
setuptools
